name: deploy-head

on: push

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      ACTIONS_STEP_DEBUG: true
      PCL_ENDPOINT: ${{ secrets.PCL_ENDPOINT }}
      PCL_CLIENT_ID: ${{ secrets.PCL_CLIENT_ID }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: List environment variables
        run: printenv

      - name: deploy
        uses: payara/qube-deploy@CLOUD-4872_renaming
        with:
          token: ${{ secrets.PCL_TOKEN }}
          subscription_name: 'Reproduce Email Arie 2024-11-28'
          namespace: 'start-dev'
          artifact_location: './samples/clusterjsp.war'
          deploy: false
          qube_version: '2.0.0'
